*,
*::after,
*::before {
    box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

body {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    color: #474747;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    margin: 0;
}

.header {
    background-color: #fbfbfb;
    padding: 26px 0;
    margin-bottom: 26px;
}

.header__container {
    max-width: 1305px;
    margin: 0 auto;
    padding: 0 15px;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__wrapper {
    display: flex;
    align-items: center;
}

.menu-list {
    display: flex;
    align-items: center;
}

.menu-item {
    margin-left: 65px;
}

.menu-item:first-child {
    margin-left: 103px;
}

.menu-link {
    font-size: 14px;
    line-height: 16px;
    transition: opacity 0.3s ease-in-out;
}

.menu-link:hover {
    opacity: 0.8;
}

.button {
    font-size: 12px;
    line-height: 14px;
    background-color: #7c1854;
    border-radius: 20px;
    padding: 10px 20px;
    border: none;
    color: #ffffff;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.button:hover {
    background-color: rgba(124, 24, 84, 0.8);
}

.hamburger-menu {
    display: none;
}

#hamburger-menu__toggle {
    opacity: 0;
}

#hamburger-menu__toggle:checked ~ .hamburger-menu__btn > span {
    transform: rotate(45deg);
}

#hamburger-menu__toggle:checked ~ .hamburger-menu__btn > span::before {
    top: 0;
    transform: rotate(0);
}

#hamburger-menu__toggle:checked ~ .hamburger-menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
}

#hamburger-menu__toggle:checked ~ .hamburger-menu__box {
    visibility: visible;
    right: 0;
}

.hamburger-menu__btn {
    display: flex;
    align-items: center;
    position: absolute;
    top: 33px;
    right: 20px;

    width: 26px;
    height: 26px;

    cursor: pointer;
    z-index: 1;
}

.hamburger-menu__btn > span,
.hamburger-menu__btn > span::before,
.hamburger-menu__btn > span::after {
    display: block;
    position: absolute;

    width: 100%;
    height: 2px;

    background-color: #616161;

    transition-duration: .25s;
}

.hamburger-menu__btn > span::before {
    content: '';
    top: -8px;
}

.hamburger-menu__btn > span::after {
    content: '';
    top: 8px;
}

.hamburger-menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    right: -100%;

    width: 300px;
    height: 100%;

    margin: 0;
    padding: 80px 0;

    list-style: none;

    background-color: #ECEFF1;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);

    transition-duration: .25s;
}

.hamburger-menu__box > li:nth-child(3) {
    margin-bottom: 20px;
}

.hamburger-menu__item {
    display: block;
    padding: 12px 24px;

    color: #333;

    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;

    text-decoration: none;

    transition-duration: .25s;
}

.hamburger-menu__button {
    background: #7C1854;
    border-radius: 20px;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    padding: 10px 20px;
    margin-left: 8px;
}

.main {
    text-align: center;
    position: relative;
    margin-bottom: 86px;
}

.main__container {
    max-width: 872px;
    margin: 0 auto;
    padding: 0 15px;
}

.main__inner {
    background-color: #f4ffe7;
}

.title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
}

.main__title {
    padding-top: 24px;
    margin-bottom: 38px;
}

.main__text {
    margin-bottom: 68px;
}

.main__text > p {
    max-width: 747px;
    margin: 0 auto 17px;
    font-size: 14px;
    line-height: 16px;
}

.main__items {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 45px;
}

.main__item-text {
    font-size: 14px;
    line-height: 16px;
    margin-top: 26px;
}

.main__figure {
    width: 0;
    height: 0;
    border: 0 solid transparent;
    border-bottom-width: 60px;
    border-top-width: 0px;
    border-left: 93px solid #F4FFE7;
    position: absolute;
}

.slider {
    background-color: #FBFBFB;
    margin-bottom: 51px;
}

.slider__container {
    max-width: 830px;
    margin: 0 auto;
    padding: 0 15px;
    position: relative;
}

.slider__title {
    text-align: center;
    padding-top: 59px;
    margin-bottom: 28px;
}

.slider__items {
    padding-bottom: 93px;
    display: flex;
}

.slider__item-wrapper {
    display: flex;
    position: relative;
}

.slider__item {
    background-color: #FFE3E3;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    width: 98%;
    height: 100%;
    padding: 52px 82px 39px 91px;
    z-index: 100;
}

.slider__item-substrate {
    background-color: #7C1854;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    width: 98%;
    height: 100%;
    transform: translate(12px, 22px);
    position: absolute;
    /*bottom: -22px;*/
    /*right: -12px;*/
    /*z-index: 1;*/
}

.slider__item-title {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 52px;
}

.slider__item-title--price {
    margin-bottom: 13px;
}

.slider__item-text {
    font-size: 18px;
    line-height: 21px;
    max-width: 305px;
    margin-bottom: 36px;
}

.slider__item-price {
    font-size: 24px;
    line-height: 28px;
    color: #7C1854;
    text-align: center;
}

.slider__item-image {
    display: flex;
    align-items: center;
}

.swiper-pagination-bullet {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #C4C4C4;
    margin: 0 24px !important;
}

.swiper-pagination-bullet {
    background-color: #7C1854;
}

.swiper-button-next,
.swiper-button-prev {
    background-color: transparent;
    border: none;
    transform: translateY(50%);
}

.swiper-button-next {
    right: -7%;
}

.swiper-button-prev {
    left: -7%;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    display: none;
}

.courses__container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

.courses__title {
    text-align: center;
    margin-bottom: 47px;
}

.courses__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 76px;
}

.courses__top-select {
    border: 2px solid #7C1854;
    border-radius: 10px;
    font-size: 14px;
    line-height: 16px;
    color: #7C1854;
    padding: 14px 80px 15px 20px;
    outline: none;
    margin-right: 49px;
    cursor: pointer;
}

.courses__top-btn {
    border: 2px solid #7C1854;
    border-radius: 10px;
    font-size: 14px;
    line-height: 16px;
    color: #7C1854;
    background-color: transparent;
    padding: 14px 45px 15px;
    cursor: pointer;
}

.courses__top-lenght-title {
    font-size: 14px;
    line-height: 16px;
    color: #7C1854;
    text-align: center;
    margin-top: -19px;
}

.courses__top-lenght-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin-top: 19px;
}

.courses__top-lenght-circle-item {
    margin-left: 65px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.courses__top-lenght-circle-item:nth-child(2) {
    margin-left: 60px;
}

.courses__top-lenght-circle {
    background-color: #C4C4C4;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-bottom: 11px;
    cursor: pointer;
}

.circle-active {
    background-color: #7C1854;
    width: 29px;
    height: 29px;
    z-index: 1;
}

.courses__top-lenght-circle-text {
    font-size: 10px;
    line-height: 12px;
    color: #7C1854;
    white-space: nowrap;
}

.courses__top-lenght-items > img {
    position: absolute;
    right: 38px;
    top: 12px;
}

.courses__items {
    display: flex;
    align-items: center;
    margin-bottom: 184px;
}

.courses__item {
    margin-right: 49px;
}

.courses__item-text {
    font-size: 14px;
    line-height: 16px;
    color: #7C1854;
    margin-top: 15px;
}

.team {
    background-color: #FBFBFB;
    margin-bottom: 46px;
}

.team__container {
    max-width: 1130px;
    margin: 0 auto;
    padding: 0 15px;
}

.team__title-wrapper {
    padding-top: 23px;
    width: 842px;
    height: 84px;
    margin: 0 auto 77px;
    position: relative;
}

.team__title {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F4FFE7;
    width: 842px;
    height: 84px;
}

.team__title-figure {
    width: 0;
    height: 0;
    border: 0 solid transparent;
    border-bottom-width: 25px;
    border-top-width: 0px;
    border-left: 93px solid #F4FFE7;
    position: absolute;
}

.team__items {
    display: flex;
    align-items: center;
    padding-bottom: 147px;
}

.team__item {
    margin-right: 110px;
}

.team__item:last-child {
    margin-right: 0;
}

.team__item-text {
    font-size: 14px;
    line-height: 16px;
    color: #7C1854;
    margin-top: 17px;
}

.team__item-text > span {
    font-weight: 700;
}

.submit__container {
    max-width: 554px;
    margin: 0 auto;
    padding-bottom: 132px;
}

.submit__form {
    background-color: #FBFBFB;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.submit__form-title {
    max-width: 425px;
    margin-bottom: 64px;
    padding-top: 25px;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
}

.submit__form-input {
    width: 474px;
    border: none;
    border-bottom: 2px solid #7C1854;
    margin-bottom: 41px;
    font-size: 18px;
    line-height: 21px;
    padding-bottom: 12px;
    color: #474747;
    outline: none;
    background-color: #FBFBFB;
}

.submit__form-input:last-child {
    margin-bottom: 80px;
}

.submit__form-input::placeholder {
    font-size: 18px;
    line-height: 21px;
    padding-bottom: 12px;
    color: #474747;
}

.submit__button {
    padding-bottom: 42px;
}

.footer {
    background-color: #7C1854;
}

.footer__container {
    max-width: 1260px;
    margin: 0 auto;
}

.footer__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 52px 0;
    color: #FFFFFF;
}

.footer__wrapper-left {
    display: flex;
    align-items: center;
}

.footer__menu {
    margin-left: 67px;
}

.footer__menu-item {
    margin-bottom: 20px;
}

.footer__menu-list {
    font-size: 14px;
    line-height: 16px;
}

.footer__wrapper-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 14px;
    line-height: 16px;
}

.footer__wrapper-right > a {
    padding-left: 23px;
}

.footer__right-title {
    margin-bottom: 18px;
}

.footer__right-mail {
    margin-bottom: 11px;
    position: relative;
}

.footer__right-mail::before {
    content: "";
    position: absolute;
    background-image: url('../image/footer-mail.svg');
    background-repeat: no-repeat;
    top: 3px;
    left: 0;
    width: 12px;
    height: 10px;
}

.footer__right-phone {
    position: relative;
}

.footer__right-phone::before {
    content: "";
    position: absolute;
    background-image: url('../image/footer-phone.svg');
    background-repeat: no-repeat;
    top: -2px;
    left: 0;
    width: 15px;
    height: 15px;
}

@media (max-width: 1160px) {
    .courses__top {
        flex-wrap: wrap;
    }

    .courses__top-buttons {
        margin-bottom: 60px;
    }

    .courses__item-img > img {
        width: 100%;
    }

    .team__item > img {
        width: 100%;
    }
}

@media (max-width: 1024px) {
    .swiper-button-next,
    .swiper-button-prev {
        display: none;
    }
}

@media (max-width: 910px) {
    .menu-item {
        margin-left: 30px;
    }

    .menu-item:first-child {
        margin-left: 40px;
    }
}

@media (max-width: 768px) {
    .menu,
    .button {
        display: none;
    }

    .hamburger-menu {
        display: block;
        z-index: 999;
    }

    .header__logo > img {
        width: 70%;
    }

    .slider__item {
        display: block;
    }

    .slider__item-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }

    .slider__item-image {
        justify-content: center;
    }

    .courses__top {
        margin-bottom: 30px;
    }

    .courses__items {
        display: block;
        margin-bottom: 80px;
    }

    .courses__item {
        margin-right: 0;
        margin-bottom: 30px;
    }

    .courses__top-lenght-items {
        display: block;
    }

    .courses__top-lenght-items > img {
        display: none;
    }

    .courses__top-lenght-circle-item {
        margin-left: 20px;
        margin-bottom: 30px;
        flex-direction: row;
    }

    .courses__top-lenght-circle-item:nth-child(2) {
        margin-left: 20px;
    }

    .courses__top-lenght-circle {
        margin-right: 20px;
        margin-bottom: 0;
    }

    .courses__top-lenght-title {
        font-size: 22px;
    }

    .courses__top-lenght-circle-text {
        font-size: 22px;
    }

    .courses__top-select {
        margin-bottom: 20px;
        margin-right: 0;
    }
}

@media (max-width: 480px) {
    .title {
        font-size: 20px;
        line-height: 22px;
    }

    .hamburger-menu__box {
        width: 70%;
    }

    .main__items {
        display: block;
    }

    .main__item {
        margin-bottom: 30px;
    }

    .slider__item {
        padding: 10px;
    }

    .slider__item-title {
        margin-bottom: 20px;
    }

    .courses__top-lenght-title {
        font-size: 20px;
    }

    .courses__top-lenght-circle-text {
        font-size: 20px;
    }
}






























